.header {
    position: relative;
}
.name {
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 200px;
}
.job {
    font-size: 40px;
    color: white;
    text-align: center;
   
}
.head-img {
    position: absolute;
    left: 210px;
    top:17px;
}
